
.client-logo {
    margin: auto;
    width: 100% !important;
    height: 100% !important;
    max-width: 6em !important;
    max-height: 6em !important;
    background-color:#bfbfbf;
    min-width: 6em;
    min-height: 6em;
}
  
  
.shift-up {
  margin-top: -3em;
}