<ion-header>
  <ion-toolbar>
    <ion-title>Acknowledgments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <a href="https://www.freepik.com/free-photos-vectors/car">Car vector created by macrovector - www.freepik.com</a>
  <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik -
    www.freepik.com</a>
  <a href="https://www.freepik.com/free-photos-vectors/abstract">Abstract vector created by freepik -
    www.freepik.com</a>
</ion-content>