// .client-avater-grid {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//   }

//   .client-avatar-handler{
//       width: 100px;;
//   }


//   .client-avater-grid {
//     width: 500px;
//     display: flex;
//     flex-wrap: wrap;
//   }
//   .client-avater-grid > .client-avatar-handler {
//     flex: 1 1 150px;
//   }

// .client-avatar{
//     height: 50px;
//     background-color: red;
//     width: 50px;
//     display: inline-block;
// }

.large-avatar{
    
    width: 100% !important;
    height: 100% !important;
    background-color:#bfbfbf;
    min-width: 4em;
    min-height: 4em;
    max-width: 4em !important;
    max-height: 4em !important;
}