<ion-content id="content" class="ion-padding background">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-no-padding">

        <h1>الحملات</h1>

        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div class="ion-text-center" *ngIf="!isLoading && relevantClients.length == 0">
          <p>No Clients found!</p>
        </div>
        <div *ngIf="!isLoading && relevantClients.length > 0">
          <ion-virtual-scroll [items]="relevantClients " approxItemHeight="80px">

            <ion-item lines="full" button *virtualItem="let clientGroup ">
              <ion-avatar slot="start" class="large-avatar">
                <ion-img [src]=" clientGroup[0].logoUrl">
                </ion-img>
              </ion-avatar>
              <ion-label button="true" class="client-avatar" [routerLink]="'/clients/' + clientGroup[0].id">
                <h2>{{clientGroup[0].clientName}}</h2>
                <p> المزيد من التفاصيل</p>
              </ion-label>
              <ion-button *ngIf="clientGroup[0].mainContact[0]" fill="outline" slot="end" size=""
                (click)="quickContact(clientGroup[0].mainContact[0])">
                <ion-icon [name]="clientGroup[0].mainContact[0].icon"></ion-icon>
              </ion-button>
            </ion-item>

          </ion-virtual-scroll>
        </div>

        <ion-infinite-scroll threshold="15%" (ionInfinite)="loadMoreClients($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>