.trip-option-card {
  
    .option-icon { }
  
    .option-label {
    line-height: 0;
    font-size: 0.7em;
    }
    .option-value {
      line-height: 1em;
      font-size: 1em;
      font-weight: bold;
    }
  }