.form-datepicker-group {
}

:host ::ng-deep .ngb-dp-week {
}

:host ::ng-deep .ngb-dp-month:last-child .ngb-dp-week {
  padding-right: inherit;
  padding-left: inherit;
}

:host ::ng-deep .ngb-dp-month:first-child .ngb-dp-week {
  padding-right: inherit;
  padding-left: inherit;
}
.ngb-dp-month .ngb-dp-week:last-child {
  padding-bottom: inherit;
}

:host ::ng-deep .ngb-dp-navigation-chevron {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

:host ::ng-deep .right .ngb-dp-navigation-chevron {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.btn-outline-center {
  border-radius: 0 !important;
}
/* datepicker-footer */
.datepicker-footer {
  background-color: var(--ion-color-light);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  z-index: 99999;
}

/* custom-day */
.custom-day {
  display: inline-block;
  text-align: center;
  height: auto;
  width: 2em;
  padding: 0;
  min-width: 45px;
  min-height: 20px;
  line-height: 45px;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
.form-datepicker {
  display: none;
}

/* fullwidth */
::ng-deep .ngb-dp-months {
  flex-flow: row wrap;
  justify-content: flex-end;
  // background: blueviolet;
}
::ng-deep .ngb-dp-month {
  // flex: 1 0 auto;
  // background: coral;
}

:host ::ng-deep .ngb-dp-month + .ngb-dp-month .ngb-dp-month-name,
:host ::ng-deep .ngb-dp-month + .ngb-dp-month .ngb-dp-week {
  padding-left: inherit;
}

:host ::ng-deep .ngb-dp-day,
:host ::ng-deep .ngb-dp-week-number,
:host ::ng-deep .ngb-dp-weekday {
  width: -webkit-fill-available;
  height: auto;
  text-align: center;
}

:host ::ng-deep .ngb-dp-week-number,
:host ::ng-deep .ngb-dp-weekday {
  flex: auto;
}
