<div class="form-datepicker-group">
  <input
    name="datepicker"
    class="form-control form-datepicker"
    ngbDatepicker
    #datepicker="ngbDatepicker"
    [(ngModel)]="model"
    [autoClose]="false"
    [dayTemplate]="customdaytemplate"
    [displayMonths]="displayMonths"
    [navigation]="navigation"
    [outsideDays]="outsideDays"
    [firstDayOfWeek]="7"
    [showWeekNumbers]="showWeekNumbers"
    [startDate]="fromDate!"
    (dateSelect)="onDateSelection($event)"
  />

  <ng-template #customdaytemplate let-date let-focused="focused">
    <span
      [ngStyle]="{
        width: widthPerDay + 'px',
        height: heightPerDay + 'px',
        lineHeight: heightPerDay + 'px'
      }"
      class="custom-day"
      [class.focused]="focused"
      [class.range]="isRange(date)"
      [class.faded]="isHovered(date) || isInside(date)"
      (mouseenter)="hoveredDate = date"
      (mouseleave)="hoveredDate = null"
    >
      {{ date.day }}
    </span>
  </ng-template>
</div>

<div #DatepickerFooter>
  <div
    class="datepicker-footer"
    *ngIf="showDatepickerFooter"
    [ngStyle]="{
      position: positionDatepickerFooter
    }"
  >
    <button class="btn btn-primary" (click)="toggle()">
      تم
    </button>
    <button class="btn btn-outline-center float-left" (click)="anytime()">
      كل التواريخ
    </button>
  </div>
</div>

<form class="form-inline">
  <div class="form-group mb-2">
    <div class="input-group">
      <input
        #dpFromDate
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dpFromDate"
        [value]="formatter.format(fromDate)"
        (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary btn-outline-center"
          (click)="toggle()"
          type="button"
        >
          <ion-icon
            [src]="'assets/icon/' + icons + '-departure.svg'"
          ></ion-icon>
        </button>
      </div>

      <input
        #dpToDate
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dpToDate"
        [value]="formatter.format(toDate)"
        (input)="toDate = validateInput(toDate, dpToDate.value)"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="toggle()"
          type="button"
        >
          <ion-icon [src]="'assets/icon/' + icons + '-arrival.svg'"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</form>
