<ion-content
  class="ion-padding"
  (swiperight)="changeTravelBy('right')"
  (swipeleft)="changeTravelBy('left')"
>
  <h1 class="page-title">سافر إلى</h1>
  <form [formGroup]="searchForm">
    <div class="slider" [ngClass]="selectedRadioItem.value">
      <div class="family">
        <ion-img src="assets\slider\family.svg"></ion-img>
      </div>
      <div class="bus">
        <ion-img src="assets\slider\bus.svg"></ion-img>
      </div>
      <div class="airplane">
        <ion-img src="assets\slider\airplane.svg"></ion-img>
      </div>
      <div class="cloud">
        <ion-img src="assets\slider\cloud.svg"></ion-img>
      </div>
      <ion-img class="bg" src="assets\slider\bg.svg"></ion-img>
    </div>

    <ion-list>
      <ion-radio-group #radioGroup>
        <ion-item
          *ngFor="let TravelByRadioItem of TravelByRadioList"
          lines="none"
          class="travel-by-radio-on-item"
          (ionSelect)="radioSelect($event)"
          (click)="changeTravelBy(TravelByRadioItem.value)"
        >
          <ion-label>{{TravelByRadioItem.text}}</ion-label>
          <ion-radio
            slot="start"
            value="{{TravelByRadioItem.value}}"
            checked="{{TravelByRadioItem.checked}}"
          >
          </ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item>
        <ion-label position="floating">الوجهة</ion-label>
        <ion-input
          type="text"
          formControlName="city"
          (click)="openCityPicker()"
        ></ion-input>
      </ion-item>
      <ion-item>
        <range-date-picker></range-date-picker>
      </ion-item>
      <ion-item button="true" (click)="pickerDateFrom.open()">
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerDateFrom"
        ></mat-datepicker-toggle>
        {{searchForm.value.dateFrom | date:'fullDate'}}
        <input
          [hidden]="true"
          matInput
          (focus)="pickerDateFrom.open()"
          [matDatepicker]="pickerDateFrom"
          placeholder="Choose a date"
          formControlName="dateFrom"
        />
        <mat-datepicker touchUi #pickerDateFrom></mat-datepicker>
      </ion-item>
      <ion-item button="true" (click)="pickerDateTo.open()">
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerDateTo"
        ></mat-datepicker-toggle>
        {{searchForm.value.dateTo | date:'fullDate'}}
        <input
          [hidden]="true"
          matInput
          [matDatepicker]="pickerDateTo"
          placeholder="Choose a date"
          formControlName="dateTo"
        />
        <mat-datepicker touchUi #pickerDateTo></mat-datepicker>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="onSearch()">
      <ion-icon slot="end" name="search"></ion-icon>
      بحث
    </ion-button>
  </form>

  <p>
    <ngb-alert [type]="'info'" [dismissible]="false">
      <strong>تنبيه</strong> توخى الحذر عند السفر للبلدان الموبوئة
    </ngb-alert>
  </p>
</ion-content>
