<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>البحث</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="md-globe"></ion-icon>
      <ion-label>استكشف</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clients">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>الحملات</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon name="heart"></ion-icon>
      <ion-label>المفضلة</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="contact"></ion-icon>
      <ion-label>حسابي</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>