<ion-header no-border>
  <ion-toolbar class="background-dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/trips"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div *ngIf="isLoading" class="ion-padding background-dark ion-text-center">
  <ion-spinner name="bubbles"></ion-spinner>

  <br /> <br /> <br /> <br /> <br /> <br /> <br />
  <br /> <br /> <br /> <br /> <br /> <br /> <br />
</div>
<ion-content *ngIf="!isLoading">
  <div class="ion-padding background-dark">
    <ion-text color="light">
      <h3>{{trip.client.clientName}}</h3>
    </ion-text>
    <ion-text color="light">
      <h1>{{trip.name}}</h1>
    </ion-text>

    <ion-buttons slot="primary">
      <ion-chip *ngFor="let city of trip.cities" color="light">
        <ion-icon name="pin"></ion-icon>
        <ion-label>{{city}}</ion-label>
      </ion-chip>
    </ion-buttons>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <ion-icon size="large" color="light" src="assets/icon/day.svg"></ion-icon>
          <ion-text class="icon-label" color="light">
            <div class="ion-no-padding">Days</div>
          </ion-text>
          <ion-text color="light">
            <p>{{trip.numOfDays}} Days / {{trip.numOfNights}} Nights</p>
          </ion-text>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-icon size="large" color="light" [src]="trip.foodOptionIcon"></ion-icon>
          <ion-text class="icon-label" color="light">
            <div class="ion-no-padding">foodOptions</div>
          </ion-text>
          <ion-text color="light">
            <p>{{trip.foodOptions}}</p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding">
          <ion-icon size="large" color="light" [src]="trip.travelByIcon"></ion-icon>
          <ion-text class="icon-label" color="light">
            <div class="ion-no-padding">travel by</div>
          </ion-text>
          <ion-text color="light">
            <p>{{trip.travelBy}}</p>
          </ion-text>
        </ion-col>
        <ion-col class="ion-padding">
          <ion-icon size="large" color="light" name="md-calendar"></ion-icon>
          <ion-text class="icon-label" color="light">
            <div class="ion-no-padding">travel date</div>
          </ion-text>
          <ion-text color="light">
            <p>
              {{trip.travelDate}} <br />
              {{trip.returnDate}}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            {{trip.desc}}
          </ion-text>
          <br /> <br /> <br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-avatar size="large" class="client-logo">
      <ion-img [src]="trip.client.logoUrl"></ion-img>
    </ion-avatar>
    <ion-text class="ion-text-center">
      <h3>{{trip.client.clientName}}</h3>
    </ion-text>


    <ion-list>
      <ion-item (click)="contact('whatsapp',trip.client.contactWp1)" detail button lines="full">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        <ion-label>
          <h3>{{trip.client.contactWp1}}</h3>
          <p>إتصال و واتساب</p>
        </ion-label>
      </ion-item>
      <ion-item detail button lines="full">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        <ion-label>
          <h3>{{trip.client.contactWp2}}</h3>
          <p>إتصال و واتساب</p>
        </ion-label>
      </ion-item>



    </ion-list>

  </div>


</ion-content>