.background-dark {
  background-color: var(--ion-color-dark);
  --ion-background-color: var(--ion-color-dark);
}

.background-dark * {
  color: var(--ion-color-light);
}

ion-toolbar {
  --ion-background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
}


.client-logo {
  margin: auto;
  width: 100% !important;
  height: 100% !important;
  max-width: 6em !important;
  max-height: 6em !important;
  margin-top: -3em;
  background-color:#bfbfbf;
  min-width: 6em;
  min-height: 6em;
}
