<ion-header no-border>
  <ion-toolbar class="background-dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/trips"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div *ngIf="isLoading" class="ion-padding background-dark ion-text-center">
  <ion-spinner name="bubbles"></ion-spinner>

  <br /> <br /> <br /> <br /> <br /> <br /> <br />
  <br /> <br /> <br /> <br /> <br /> <br /> <br />
</div>
<ion-content *ngIf="!isLoading">
  <div class="ion-padding background-dark">

    <ion-list class="ion-no-padding">
      <ion-item lines="none" class="ion-no-padding">
        <ion-avatar slot="start">
          <ion-img [src]="trip.client.logoUrl"></ion-img>
        </ion-avatar>
        <ion-label>
          <h3>{{trip.client.clientName}}</h3>
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding">

        <ion-label class="ion-text-wrap">
          <h1>{{trip.name}}</h1>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-buttons slot="primary">
      <ion-chip *ngFor="let city of trip.cities" color="light">
        <ion-icon name="pin"></ion-icon>
        <ion-label>{{city}}</ion-label>
      </ion-chip>
    </ion-buttons>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <option-card [optionIcon]="'assets/icon/day.svg'" [optionLabel]="'مدة الرحلة'"
            [optionValue]="trip.numOfDays +'أيام /'+ trip.numOfNights +'ليالي'"></option-card>
        </ion-col>
        <ion-col class="ion-padding">
          <option-card [optionIcon]="trip.foodOptionIcon" [optionLabel]="'الوجبات'"
            [optionValue]="trip.foodOptionsLabel"></option-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding">
          <option-card [optionIcon]="trip.travelByIcon" [optionLabel]="'طريقة السفر'"
            [optionValue]="trip.travelByLabel"></option-card>
        </ion-col>
        <ion-col class="ion-padding">
          <option-card [optionIcon]="'md-calendar'" [optionLabel]="'تاريخ السفر'"
            [optionValue]="trip.travelDate+ '\n' + trip.returnDate"></option-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>
            {{trip.desc}}
          </ion-text>
          <br /> <br /> <br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-avatar size="large" class="client-logo">
      <ion-img [src]="trip.client.logoUrl"></ion-img>
    </ion-avatar>
    <ion-text class="ion-text-center">
      <h3>{{trip.client.clientName}}</h3>
    </ion-text>


    <ion-list>
      <ion-item (click)="contact('whatsapp',trip.client.contactWp1)" detail button lines="full">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        <ion-label>
          <h3>{{trip.client.contactWp1}}</h3>
          <p>إتصال و واتساب</p>
        </ion-label>
      </ion-item>
      <ion-item detail button lines="full">
        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        <ion-label>
          <h3>{{trip.client.contactWp2}}</h3>
          <p>إتصال و واتساب</p>
        </ion-label>
      </ion-item>



    </ion-list>

  </div>


</ion-content>