// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #5f738c;
  --ion-color-primary-rgb: 95, 115, 140;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #54657b;
  --ion-color-primary-tint: #6f8198;

  --ion-color-secondary: #084c61;
  --ion-color-secondary-rgb: 8, 76, 97;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #074355;
  --ion-color-secondary-tint: #215e71;

  --ion-color-tertiary: #006494;
  --ion-color-tertiary-rgb: 0, 100, 148;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #005882;
  --ion-color-tertiary-tint: #1a749f;

  --ion-color-success: #00a992;
  --ion-color-success-rgb: 0, 169, 146;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #009580;
  --ion-color-success-tint: #1ab29d;

  --ion-color-warning: #FEC901;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #eb5e55;
  --ion-color-danger-rgb: 235, 94, 85;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #cf534b;
  --ion-color-danger-tint: #ed6e66;

  --ion-color-dark: #2d3f54;
  --ion-color-dark-rgb: 45, 63, 84;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #28374a;
  --ion-color-dark-tint: #425265;

  --ion-color-medium: #8da1bc;
  --ion-color-medium-rgb: 141, 161, 188;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #7c8ea5;
  --ion-color-medium-tint: #98aac3;

  --ion-color-light: #f6f7f9;
  --ion-color-light-rgb: 246, 247, 249;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8d9db;
  --ion-color-light-tint: #f7f8fa;
}
