// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #00a992;
  --ion-color-primary-rgb: 0, 169, 146;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #009580;
  --ion-color-primary-tint: #1ab29d;

  --ion-color-secondary: #0bb8cc;
  --ion-color-secondary-rgb: 11, 184, 204;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #0aa2b4;
  --ion-color-secondary-tint: #23bfd1;

  --ion-color-tertiary: #7e57ff;
  --ion-color-tertiary-rgb: 126, 87, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #6f4de0;
  --ion-color-tertiary-tint: #8b68ff;

  --ion-color-success: #00a992;
  --ion-color-success-rgb: 0, 169, 146;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #009580;
  --ion-color-success-tint: #1ab29d;

  --ion-color-warning: #ffd31a;
  --ion-color-warning-rgb: 255, 211, 26;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ba17;
  --ion-color-warning-tint: #ffd731;

  --ion-color-danger: #f25454;
  --ion-color-danger-rgb: 242, 84, 84;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #d54a4a;
  --ion-color-danger-tint: #f36565;

  --ion-color-dark: #0a0b0f;
  --ion-color-dark-rgb: 10, 11, 15;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #090a0d;
  --ion-color-dark-tint: #232327;

  --ion-color-medium: #5f738c;
  --ion-color-medium-rgb: 95, 115, 140;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #54657b;
  --ion-color-medium-tint: #6f8198;

  --ion-color-light: #eef2f5;
  --ion-color-light-rgb: 238, 242, 245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d1d5d8;
  --ion-color-light-tint: #f0f3f6;
}
