<ion-header>
  <ion-toolbar color="secondary">
    <ion-searchbar placeholder="Search..."></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <!-- <ion-buttons slot="start">
      <ion-button color="light" (click)="openFiltersManu()">
        <ion-icon slot="start" name="ios-funnel"></ion-icon>
        Filter
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="primary" *ngIf="searchTerms">
      <ion-chip color="light">
        <ion-label>{{searchTerms.travelBy}}</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip color="light">
        <ion-label>{{searchTerms.city}}</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip color="light">
        <ion-label
          >{{searchTerms.dateFrom}} -> {{searchTerms.dateTo}}</ion-label
        >
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" type="overlay" menuId="filterManu" content-id="content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Filters</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Food Options</ion-label>
        <ion-select
          multiple="true"
          cancelText="Nah"
          okText="Okay!"
          placeholder="Select One"
          [(ngModel)]="filtersForm.foodOptions"
          (ngModelChange)="onFilterUpdate()"
        >
          <ion-select-option
            *ngFor="let item of foodOptionsList"
            selected="{{item.selected}}"
            >{{item.val}}x</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Number of Days</ion-label>
        <ion-range
          min="3"
          max="16"
          step="1"
          [(ngModel)]="filtersForm.numOfDays"
          (ngModelChange)="onFilterUpdate()"
          snaps
          dual-knobs
          pin
          color="secondary"
        >
          <ion-label slot="start">3</ion-label>
          <ion-label slot="end">16</ion-label>
        </ion-range>
      </ion-item>
    </ion-list>
    <ion-button color="success" expand="block" (click)="closeFiltersManu()">
      <ion-icon slot="start" name="ios-funnel"></ion-icon>
      Done
    </ion-button>
    {{filtersForm |json}}
  </ion-content>
</ion-menu>

<ion-content id="content" class="ion-padding background">
  <!-- <ion-chip color="secondary">
    <ion-label color="dark">only break fast</ion-label>
  </ion-chip> -->

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-no-padding">
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div
          class="ion-text-center"
          *ngIf="!isLoading && relevantTrips.length == 0"
        >
          <p>No Trips found!</p>
        </div>

        <div *ngIf="!isLoading && relevantTrips.length > 0">
          <ion-virtual-scroll [items]="relevantTrips " approxItemHeight="182px">
            <ion-card
              *virtualItem="let trip "
              class="card ion-no-margin ion-margin-bottom"
            >
              <!-- <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button>
                    <ion-icon slot="icon-only" name="more"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar> -->
              <ion-row class="vertical-align-content ion-padding-top">
                <ion-col class="ion-no-padding">
                  <div class="ion-text-center w-100">
                    <ion-thumbnail size="4" class="client-logo">
                      <ion-img [src]="trip.client.logoUrl"></ion-img>
                    </ion-thumbnail>
                  </div>
                </ion-col>
                <ion-col size="2" class="ion-no-padding">
                  <div class="ion-text-center w-100">
                    <ion-icon
                      size="large"
                      color="primary"
                      [src]="trip.travelByIcon"
                    ></ion-icon>
                  </div>
                </ion-col>
                <ion-col class="ion-no-padding">
                  <div class="city-name ion-text-center w-100">
                    <span *ngFor="let city of trip.cities">
                      {{city}}
                    </span>
                  </div>
                </ion-col>
              </ion-row>
              <ion-card-content>
                <div class="trip-name">
                  <span>{{trip.name}}</span>
                </div>
              </ion-card-content>

              <ion-footer>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button class="small-padding">
                      {{trip.travelDate}}
                      <ion-icon
                        size="small"
                        slot="start"
                        color="primary"
                        src="assets/icon/calendar.svg"
                      ></ion-icon>
                    </ion-button>
                    <ion-button class="small-padding">
                      {{trip.numOfDays}} Days
                      <ion-icon
                        size="small"
                        slot="start"
                        color="primary"
                        src="assets/icon/day.svg"
                      ></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-footer>
              <ion-footer>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button class="small-padding">
                      <ion-icon
                        size="small"
                        slot="icon-only"
                        color="primary"
                        [src]="trip.foodOptionIcon"
                      ></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <ion-buttons slot="end">
                    <ion-button>
                      123 BHD
                      <ion-icon slot="end" name="ios-arrow-down"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-footer>
            </ion-card>
          </ion-virtual-scroll>
        </div>

        <ion-infinite-scroll
          threshold="15%"
          (ionInfinite)="loadMoreTrips($event)"
        >
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
          >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
