ion-content {
  --ion-background-color: #f6f7f9;
}


ion-toolbar {

  --background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/*city-header*/
.city-header {
  // display: none;
  min-height: 25em;
  background-color: darkgrey;
  position: relative;
  margin-bottom: 6em;

  .city-header-content {
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: -5em;
    position: absolute;
    z-index: 10;
    padding-top: 9em;
    top: 0;
    left: 5%;

    .city-title {
      min-height: 5em;
      color: white;
      padding: 1em 0;

      > h1 {
        font-weight: 900;
      }
      > h3 {
      }
    }

    .search-card {
      min-height: 13em;

      .ion-card {
        margin: 0;
      }
    }
  }
}
