.quicksearch-card{
    
    min-height: 13em;
    color: white;
    background-size: cover!important;
    position: relative;
    padding-bottom: 9em;
    margin: 0 0 1em 0 ;
    &-header{
        text-align: left;
    }
    &-text-holder{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: black;
        
        min-height: 6em;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(253,187,45,0) 100%);

        &-label{
            font-size: 1.5em;
        }
    }

}

ion-icon {
    font-size: 32px;
}


@media only screen and (max-width: 400px) {
    .quicksearch-card{
    
        min-height: 10em;
        padding-bottom: 6em;

    }
}