ngb-datepicker,
ngb-datepicker * {
  background-color: red;
  direction: ltr;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.form-datepicker {
  display: none;
}

::ng-deep .ngb-dp-months {
  flex-flow: row wrap;
  justify-content: flex-end;
  background: blueviolet;
}
.ngb-dp-month {
  // flex: 1 0 auto;
  background: coral;
}

::ng-deep .ngb-dp-month + .ngb-dp-month .ngb-dp-month-name,
::ng-deep .ngb-dp-month + .ngb-dp-month .ngb-dp-week {
  padding-left: inherit;
}

::ng-deep .ngb-dp-day,
::ng-deep .ngb-dp-week-number,
::ng-deep .ngb-dp-weekday {
  width: 61px;
  height: 2rem;
  text-align: center;
}
