<div *ngIf="client.branchs">
  <ion-card *ngFor="let branch of client.branchs">



    <img src="https://picsum.photos/500/200" />
    <ion-card-header>
      <ion-card-title>{{ branch.branch }}</ion-card-title>
    </ion-card-header>


    <ion-item *ngFor="let contact_details of branch.contacts" (click)="contact_details.call()" class="ion-activated"
      lines="full">
      <ion-icon [name]="contact_details.icon" slot="start"></ion-icon>
      <ion-label>{{contact_details.value}}</ion-label>
      <ion-button *ngIf="contact_details.action" fill="outline" slot="end">{{contact_details.action}}</ion-button>
    </ion-item>

  </ion-card>



</div>