<div *ngIf="client.branchs">
  <ion-card *ngFor="let branch of client.branchs">



    <img src="https://picsum.photos/500/200" />
    <ion-card-header>
      <ion-card-title>{{ branch.branch }}</ion-card-title>
    </ion-card-header>


    <ion-item *ngFor="let contactDetails of branch.contacts" (click)="callClient(contactDetails,0)"
      class="ion-activated" lines="full">
      <ion-icon [name]="contactDetails.icon" slot="start"></ion-icon>
      <ion-label>{{contactDetails.value}}</ion-label>

      <ion-button *ngIf="contactDetails.actionLabel[0]" (click)="callClient(contactDetails,0)" fill="outline"
        slot="end">{{contactDetails.actionLabel[0]}}</ion-button>
      <ion-button *ngIf="contactDetails.actionLabel[1]" (click)="callClient(contactDetails,1)" fill="outline"
        slot="end">
        {{contactDetails.actionLabel[1]}}</ion-button>
      <ion-button *ngIf="contactDetails.actionLabel[2]" (click)="callClient(contactDetails,2)" fill="outline"
        slot="end">
        {{contactDetails.actionLabel[2]}}</ion-button>
    </ion-item>

  </ion-card>



</div>