<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-img src="assets\loading\1.svg"></ion-img>

      <h2>
        <ion-progress-bar
          type="indeterminate"
          color="secondary"
          value="0.5"
        ></ion-progress-bar>
      </h2>
      <h2>نصائح <b>السفر</b></h2>
      <p>
        تعلم العبارات الشائعة فى لغة البلد المحلية التى تود السفر اليها.
      </p>
      <ion-button (click)="startLogin()">تخطي</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
